{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>inácio</title>
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	<link href="{% static 'css/hamburgers.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<script src="{% static 'javascript/base.js' %}"></script> 
	{% block head %}
	{% endblock %}
</head>
<body>
	
{% block body %}
	<div class="main">
		<aside id="" role="complementary" class="menu">
			<div class="text-center">
				<div class="img-menu" style="background-image: url({% static 'images/eu-menu.jpg' %});"></div>
				<h1 id="header"><a href="{% url 'url_home' %}" style="font-size: 22px;">Inácio Mattos</a></h1>
				<span class="sub-header"><a href="#" style="color:#2c98f0;">Programador</a> em Camaquã e região</span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul class="items">
						<a href="#" data-nav-section="home"><li class="item-menu">Home</li></a>
						<a href="#" data-nav-section="projetos"><li class="item-menu">projetos</li></a>
						<a href="#" data-nav-section="blog"><li class="item-menu">blog</li></a>
						<a href="#" data-nav-section="conquistas"><li class="item-menu">conquistas</li></a>
						<a href="#" data-nav-section="educação"><li class="item-menu">Educação</li></a>
						<a href="#" data-nav-section="habilidades"><li class="item-menu">habilidades</li></a>
						<a href="#" data-nav-section="contato"><li class="item-menu">contato</li></a>
					</ul>
				</div>
			</nav>
		</aside>
		
		<header></header>

		<div class="conteudo">
			<div class="btn-menu"><button class="hamburger hamburger--spring" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
				</button>
			</div>
			{% block conteudo %}
			{% endblock %}
		</div>
{% endblock %}
	</div>
</body>
</html>